.flex{
    display: flex;
}

.flex-1{
    flex: 1;
}

.item-center{
    align-items: center;
}

.justify-center{
    justify-content: center;
}

.gird{
    display: grid;
}

.p-5{
    padding: 20px;
}


.px-5{
    padding: 0 1.25rem /* 20/16 */;
}

.py-5{
    padding: 1.25rem /* 20/16 */ 0;
}

.px-auto{
    margin: 0 auto;
}

.pointer{
    cursor: pointer;
}

.m-5{
    margin: 20px;
}


.ml-5{
    margin-left: 1.25rem /* 20/16 */;
}

.mr-5{
    margin-right: 1.25rem /* 20/16 */;
}

.mt-5{
    margin-top: 1.25rem /* 20/16 */;
}