// 侧边栏PC端宽度
$sidebar-deskop-width:12.5rem /* 200/16 */;
// 侧边栏手机端宽度
$sidebar-phone-width:5rem /* 80/16 */;
// 侧边栏背景色
$sidebar-bg-color:#fff;
// 头部高度
$header-height:2.5rem /* 40/16 */;
// 头部背景色
$header-bg-color:#fff;
// 底部高度
$footer-height:1.875rem /* 30/16 */;
// 底部背景颜色
$footer-bg-color:#fff;

// 基本边框色
$primary-border-color: 1px solid#e4e7ed;
// 基本文字色
$primary-text-color:#909399;
// 基本悬停色
$primary-hov-color:#909399;